<% if flash[:errors]%>
    <% flash[:errors].each do |e| %>
        <li style="color: purple">
            <%= e %>
        </li>
        <%end%>
<%end%>

<h3> Create A YELP Account </h3>
<%= form_with model: @user do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
<br>
  <%= f.label :user_name %>
  <%= f.text_field :user_name %>
<br>
  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>
<br>
  <%= f.label :age %>
  <%= f.number_field :age %>
<br>
<%end%>