<!DOCTYPE html>
<html>
	<head>
		<title>Yelppy_Rails_project</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<style>
			.flex-container {
				display: flex;
				justify-content: center;
			}

			.flex-container > div {
				background-color: #f1f1f1;
				margin: 10px;
				padding: 20px;
			}
			.btn {
				color: green;
				font-size: 1.25em;
				text-align: center;
				padding: 14px 45px;
				text-decoration: none;
			}
				.btn:hover {
				background: #ddd;
				color: black;
			}
			em {
				font-size: 1.15em;
			}
		</style>
    </head>
	<body>
		<div class="page-wrap">

			<!-- Main -->
			<section id="main">
            	<%= form_with url: '/logout', method: "delete" do |f|%>
           		<div class="flex-container">
                    <div><%= link_to " Foods List",  foods_path, class: "btn btn-inverse"%></div>
                    <div><%= link_to " Restaurants",  restaurants_path, class: "btn btn-inverse"%></div>
                    <div><%= link_to " Restaurant Review",  reviews_path, class: "btn btn-inverse"%></div>
                    <div><%= link_to " Create Review",  new_review_path, class: "btn btn-inverse"%></div>&nbsp;&nbsp;&nbsp;
                <div> <em><%= link_to @user.name, @user%></em> &nbsp; <%= f.submit "Logout"%></div>
           		</div>
           		<%end%> 

				<!-- Banner -->
				<section id="banner">
					<div class="inner">
						<h1>Hey, <%= @user.name %></h1><br><br>
						<p>Welcome to Yelppy !!!</p><br>
						<ul class="actions">
							<li><%= link_to "Edit your profile", edit_user_path, class: "button alt scrolly big"%></li>
						</ul>
					</div>
				</section>

				<!-- Gallery -->
				<section id="galleries">
					<!-- Photo Galleries -->
					<div class="gallery">
						<header class="special">
							<h1>My Comments list</h1>
						</header><br><br><br>
						<h2>Restaurant Reviews</h2>
                            <% @user.reviews.each do |review|%>
                            <h3> <strong style = "color: green"> &nbsp; &nbsp; <%=review.restaurant.name%></strong> &nbsp; &nbsp; &nbsp; &nbsp;
								<%=review.comment%></h3>
                            <% end%>
						<div class="content">
							<div class="media">
								<a href="images/fulls/01.jpg"><img src="images/thumbs/01.jpg" alt="" title="This right here is a caption." /></a>
							</div>
							<div class="media">
								<a href="images/fulls/05.jpg"><img src="images/thumbs/05.jpg" alt="" title="This right here is a caption." /></a>
							</div>
							<div class="media">
								<a href="images/fulls/09.jpg"><img src="images/thumbs/09.jpg" alt="" title="This right here is a caption." /></a>
							</div>
							<div class="media">
								<a href="images/fulls/02.jpg"><img src="images/thumbs/02.jpg" alt="" title="This right here is a caption." /></a>
							</div>
							<div class="media">
								<a href="images/fulls/06.jpg"><img src="images/thumbs/06.jpg" alt="" title="This right here is a caption." /></a>
							</div>
							<div class="media">
								<a href="images/fulls/10.jpg"><img src="images/thumbs/10.jpg" alt="" title="This right here is a caption." /></a>
							</div>
							<div class="media">
								<a href="images/fulls/03.jpg"><img src="images/thumbs/03.jpg" alt="" title="This right here is a caption." /></a>
							</div>
							<div class="media">
								<a href="images/fulls/07.jpg"><img src="images/thumbs/07.jpg" alt="" title="This right here is a caption." /></a>
							</div>
						</div>
						<footer>
							<a href="#" class="button big">TOP</a>
						</footer>
					</div>
				</section>
			</div>
		</body>
	</html>
