<!DOCTYPE html>
<html>
	<head>
		<title>TYSTHER_Rails_project</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<style>
			.flex-container {
				display: flex;
				justify-content: center;
			}

			.flex-container > div {
				background-color: #f1f1f1;
				margin: 10px;
				padding: 20px;
			}
			.btn {
				color: green;
				font-size: 1.25em;
				text-align: center;
				padding: 14px 45px;
				text-decoration: none;
			}
				.btn:hover {
				background: #ddd;
				color: black;
			}
			em {
				font-size: 1.15em;
			}
			h3 {
				color: green;
			}
			.center_text {
				text-align: center;
			}
		</style>
    </head>
	<body>
		<div class="page-wrap">

			<!-- Main -->
			<section id="main">
            	<%= form_with url: '/logout', method: "delete" do |f|%>
           		<div class="flex-container">
                    <div><%= link_to " Foods List",  foods_path, class: "btn btn-inverse"%></div>
                    <div><%= link_to " Restaurants",  restaurants_path, class: "btn btn-inverse"%></div>
                    <div><%= link_to " Restaurant Review",  reviews_path, class: "btn btn-inverse"%></div>
                    <div><%= link_to " Create Review",  new_review_path, class: "btn btn-inverse"%></div>&nbsp;&nbsp;&nbsp;
                <div> <em><%= link_to @user.name, @user%></em> &nbsp; <%= f.submit "Logout"%></div>
           		</div>
           		<%end%> 

				<!-- Banner -->
				<section id="banner">
					<div class="inner">
						<h1>Hey, <%= @user.name %></h1><br><br>
						<p>Welcome to TYSTHER !!!</p><br>
						<ul class="actions">
							<li><%= link_to "Edit your profile", edit_user_path, class: "button alt scrolly big"%></li>
						</ul>
					</div>
				</section>
				<br><h1 class = "center_text">My Comments list</h1><br>
					<!-- Comments -->
					<section id="contact">
						<!-- Favorite Restaurant -->
						<div class="social column">
							<h2>My Favorite Restaurant </h2>
						    <h3>&nbsp; &nbsp; &nbsp; &nbsp;<%= @user.most_like%></h3> 
						</div>
						<!-- Restaurant Reviews -->
						<div class="column">
						<h2>My Restaurant Reviews</h2>
                            <% @user.reviews.each do |review|%>
                            	<h3>&nbsp; &nbsp; &nbsp; &nbsp;<%=review.restaurant.name%></h3> 
								<li><%=review.comment%></li>
                            <% end%>
						</div>
					</section>
					</div>
			</section>
					<br><h5 class = "center_text"><a href="#" class="button big">TOP</a></h5>
		</div>
	</body>
</html>
