<p> Hi, <%= @user.name %></p>


<%= form_with url: '/logout', method: "delete" do |f|%>
<%= f.submit "Logout"%> <br><br>



<%= link_to " Foods list",  foods_path%> &nbsp; &nbsp;
<%= link_to " Restaurants",  restaurants_path%> &nbsp; &nbsp;
<%= link_to " Restaurant Review",  reviews_path%> &nbsp; &nbsp;
<%= link_to " Create Review",  new_review_path%> 
<%end%>
