<% if flash[:errors]%>
    <% flash[:errors].each do |e| %>
        <li style="color: red">
            <%= e %>
        </li>
        <%end%>
<%end%>

<h3>Tell Us Your Experience about Restaurant</h3>
<%=form_with model: @review do |f|%>
    <%f.text_field :user_id%>
    <%=f.label :Date_of_visit%>
    <%=f.date_field :date%> <br><br>
    <%=f.label :Restaurant_Name%>
    <%=f.collection_select :restaurant_id, @restautants, :id, :name%> <br><br>
    <%=f.label :comment%> <br>
    <%=f.text_area :comment, cols: 50, rows: 10%> <br><br>
    <%=f.label :Rating%>
    <%=f.number_field :rating%> <br><br>

<%=f.submit%>
<%end%>
