<!DOCTYPE html>
<html>
	<head>
		<title>Yelppy_Rails_project</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
        <style>
            a {
            text-decoration: underline;
            color: #19B5FE;
            }

            a:hover {
                text-decoration: none;
                color: #019be3;
            }

            .flex-container {
                display: flex;
                justify-content: center;
                background-color: none;
            }

            .flex-container > div {
                background-color: #f1f1f1;
                margin: 10px;
                padding: 17px;
            }

            .btn {
                color: green;
                font-size: 1.25em;
                text-align: center;
                padding: 14px 40px;
                text-decoration: none;
            }

            .btn:hover {
            background: #ddd;
            color: black;
            }

            em {
                font-size: 1.15em;
            }
  
            .center_box {
                margin-right: 150px;
                margin-left: 150px;
            }

            h1 {
                text-align: center;
                background-color: DodgerBlue;
            }
            .gclor {
                font-size: 1.15em;
                color: green;
            }

            .f-container {
                display: flex;
                flex-flow: row wrap;
            }

            .f-container > div {
                width: 635px;
                margin: 12px;
                text-align: center;
                line-height: 75px;
                font-size: 1em;
            }
            
            .f-container > div > h3 {
                color: green;
            }

        </style>
	</head>
    <body>
		<section id="main">
            <%= form_with url: '/logout', method: "delete" do |f|%>
            <div class="flex-container">
                <div><%= link_to " Foods list",  foods_path, class: "btn btn-inverse"%></div>
                <div><%= link_to " Restaurants",  restaurants_path, class: "btn btn-inverse"%></div>
                <div><%= link_to " Restaurant Review",  reviews_path, class: "btn btn-inverse"%></div>
                <div><%= link_to " Create Review",  new_review_path, class: "btn btn-inverse"%></div>&nbsp;&nbsp;&nbsp;
                <div> <em><%= link_to @user.name, @user%></em> &nbsp; <%= f.submit "Logout"%></div>
           </div>
            <%end%> 
		<!-- Main -->
            <div class="center_box">
                <h1>Restaurant Reviews</h1><br>
                <div class = "f-container">
                <% @reviews.each do |review|%>
                    <div>
                        <h3><%=link_to review.restaurant.name, restaurant_path(review.restaurant)%></h3>
                        <h4>Reviewer : <%=review.user.name%> </h4>
                        <h4>Review Date : <%=review.date%> </h4>
                        <h4>Restaurant Rating : <%=review.rating%> </h4>
                        <h4>Comment : <%=review.comment%> </h4><br>
                    </div>
                <% end%> 
                </div>
            <h4 class = "gclor"><a href="#"> Top </a> &nbsp;&nbsp; | &nbsp; &nbsp;<%= link_to "Go Back to Restaurants List",  restaurants_path%></h4>
            </div>
        </section>
    </body>
</html>
