<h1>Restaurant Reviews</h1><br>
<% @reviews.each do |review|%>
    <h3>Restaurant Name : <%=link_to review.restaurant.name, restaurant_path(review.restaurant)%> </h3>
    <h4>Reviewer : <%=review.user.name%> </h4>
    <h4>Review Date : <%=review.date%> </h4>
    <h4>Restaurant Rating : <%=review.rating%> </h4>
    <h4>Comment : <%=review.comment%> </h4><br>
<% end%> 
