<h3>Reviews</h3>
<% @reviews.each do |review|%>
<li>
    <h5>Restaurant Name : <%=link_to review.restaurant.name, restaurant_path(review.restaurant)%> </h5>
    <h5>User Name : <%=review.user.name%> </h5>
    <h5>Review Date : <%=review.date%> </h5>
    <h5>Restaurant Rating : <%=review.rating%> </h5>
    <h5>Comment : <%=review.comment%> </h5>
</li>
<% end%>
