<h2><%= @location.restaurant.name%> Information</h2>
<img src="<%=@location.restaurant.img_url%>" alt="<%=@location.restaurant.name%>"> <br>
<h3> Address: <%=@location.address%> </h3><br>

<h4><%= link_to " Go Back to Restaurant Info",  restaurant_path(@location.restaurant)%></h4> 
